	body{
		background:#efefef;
		color:#3A3A3A;
		font-family:'Didactic',Serif;
	}
	a:hover{
		text-decoration:underline;
	}
	p a:hover{
		color:#EE4938;
		text-decoration:underline;
	}
/*> Navigation*/
	.site-logo{
		max-height:90px;
		width:auto;
	}
	.site-logo-large{
		max-height:140px;
		width:auto;
	}
	#site-nav{
		padding:0.5em;
		box-sizing:border-box;
		width:100%;
		line-height:2.5em;
		display:inline-block;
		color:#000;
		text-align:center;
	}
	#site-nav .wrapper{
		padding-bottom:0.5em;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		display:inline-block;
	}
	#site-nav h1{
		padding-left:1em;
		text-align:left;
		font-size:2em;
	}
	#site-nav header{
		float:left;
	}
	#site-nav ul{
		padding-right:2.5em;
		box-sizing: border-box;
		float:right;
	}
	#site-nav ul li.margin{
			margin-top:30px;
	}
	#site-nav ul li{
		margin-left:0.5em;
		padding-left:0.5em;
		box-sizing: border-box;
		display:inline-block;
		font-size:1.3em;
	}
	/*@media*/
		@media all and (max-width: 750px) {
				#site-nav .wrapper{
						border:none;
				}
		}
		@media all and (max-width: 600px) {
				.site-logo{
					max-height:60px;
				}
				#site-nav .site-logo{
					display:none;
				}
				#site-nav h1{
					display:none;
				}
				#site-nav ul{
					padding:0;
					float:none;
					display:inline-block;
					text-align:center;
					border-bottom:1px solid rgba(0, 0, 0, 0.2);
				}
				#site-nav ul li{
					padding:0;
					margin:0;
					padding:0 9px;
					margin:5px 6px;
				}
				#site-nav header{
					width:100%;
					text-align:center;
				}
				#site-nav img{
					text-align:center;
				}
		}
/*> index*/
	.site-cover{
		margin:0 auto;
		max-height:350px;
		width:auto;

	}
	#site-frontpage{
		margin:1.6em auto;
		font-size:2.1em;
		text-align:center;
	}
	#site-frontpage h3{
		margin-top:10px;
	}
	@media all and (max-width: 750px) {
		#site-frontpage{
			font-size:1.1em;
		}
	}
	#site-fronpage header h3{
		color:rgba(0, 0, 0, 0.8);
	}

/*> loop*/
	#loop article{
		margin:25px 0;
		margin-bottom:40px;
		float:left;
	}
	#loop article header{
		margin-bottom:20px;
	}
	#loop article section.title{
		margin:10px 0;
	}
	#loop article section.title h1{
		margin:5px 0;
		color:#3A3A3A;
		font-size:2.6em;
		text-align:left;
	}
	#loop article section.title p{
			margin-top:10px;
			color:rgba(0, 0, 0, 0.4);
			font-size:1.1em;
			display:inline-block;
	}
	#loop article section.excerpt{
		line-height:1.6;
		font-size:1em;
	}
	#loop article section.excerpt .readmore{
		color:#EE4938;
	}
	#loop footer hr{
		margin:20px auto;
		height:3px;
		width:100px;
		border:none;
		border-bottom:1px solid rgba(0, 0, 0, 0.5);
	}
/*> tag*/
	#tag header.wrapper{
		margin:60px auto;
		padding-bottom:2em;
		text-align:center;
		border-bottom:1px solid rgba(0, 0, 0, 0.5);
	}
	#tag header.wrapper h1{
		font-size:4em;
	}
	#tag header.wrapper h3{
		color:rgba(0, 0, 0, 0.2);
	}
/*> post*/
	#post{
		margin:40px auto;
	}
	#post header{
		margin:20px 0;
	}
	#post header .image{
			margin:20px 0;
			text-align:center;
	}
	#post header img{
		width:80%;
		max-width:235px;
		height:auto;
		display:inline-block;
	}
	#post header h1{
		font-size:6.1em;
		text-align:center;
	}
	#post header hr{
		margin:30px auto;
		height:3px;
		width:100px;
		border:none;
		border-bottom:1px solid rgba(0, 0, 0, 0.5);
	}
	#post section.body{
		line-height:1.6;
		text-indent:6px;
	}
	#post section.body img{max-height:600px;width:auto;}
	#post section.body h1{font-size:4em;}
	#post section.body h2{font-size:3.7em;}
	#post section.body h3{font-size:3.4em;}
	#post section.body h4{font-size:2.7em;}
	#post section.body h5{font-size:2.4em;}
	#post section.body h6{font-size:1.7em;}
	#post section.body p{margin:10px 0;}
	#post section.body b{font-style:bold;}
	#post section.body u{text-decoration:underline;}
	#post section.body i{font-style:italic;}
	#post section.body ul{list-style:square;}
	#post section.body ol{list-style:lower-alpha;}
	#post footer{
		padding:15px 0;
		box-sizing:border-box;
		margin:30px 0;
		border-top:1px solid #ddd;
	}
	#post footer h2{
		margin-bottom:9px;
	}
	#post footer p{
		margin-top:6px;
		color:rgba(0, 0, 0, 0.2);
	}
	#post footer .author{
			float:left;
	}
	#post footer .social{
		float:right;
		text-align:right;
	}
	/*readnext*/
		#readnext{
			margin:6em auto;
		}
		#readnext header.wrapper{
			margin:20px 0;
			text-align:center;
			color:rgba(0, 0, 0, 0.2);
		}
		#readnext article{
			margin:1em auto;
			box-sizing:border-box;
		}
		#readnext article p{
				margin:10px 0;
				color:rgba(0, 0, 0, 0.5);
		}
		#readnext article a.readmore{
			color:#EE4938;
		}
/*> author*/
	#author header.wrapper{
		margin:30px auto;
		padding-bottom:20px;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		text-align:center;
	}
	#author header.wrapper h1{
		font-size:4em;
	}
	#author header.wrapper h3{
		color:rgba(0, 0, 0, 0.2);
	}
	/*@media*/
		@media all and (max-width: 750px) {
			#author header.wrapper{
				margin:15px auto;
			}
			#author header.wrapper h1{
				font-size:3em;
			}
		}
/*> Footer*/
	#site-footer{
		padding:1em;
		box-sizing:border-box;
		width:100%;
		display:inline-block;
	}
	#site-footer .copyright{
		float:left;
	}
	#site-footer .ghost{
		float:right;
	}
/*> pagination*/
	.pagination{
		margin:3em 0;
		text-align:center;
	}
	.pagination h3{
		color:rgba(0, 0, 0, 0.5);
	}
	.pagination ul li{
		margin:5px 15px;
		display:inline-block;
	}
/*> Navigation*/
